.assignments {
  .assignmentsContentWrapper {
    padding: 20px 0 0;
    .assignmentsContainer {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      margin-bottom: 20px;
    }
  }
}
