.createDepartment {
  .contentWrapper {
    background: #ffffff;
    padding: 20px;
    overflow-y: auto;
    height: calc(100vh - 80px);
    .formContainer {
      max-width: 800px;
      margin: auto;
      background: #ebf1ff;
      border-radius: 13px;
      padding: 20px;

      h2 {
        margin-bottom: 20px;
        text-transform: capitalize;
      }
      .form {
        .formControls {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          gap: 20px;
          // display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          column-count: 3;
          .formControl {
            width: auto;
            flex: auto;
            min-width: 200px;
            max-width: 100%;
          }
        }
        .submitBtnWrapper button {
          margin-top: 20px;
          height: 56px;
        }
      }
    }
  }
}
