.eventsService {
    .eventsWrapper {
        padding: 20px 0 0;
        .eventsInputsWrapper {
            display: flex;
            gap: 10px;

            select {
                height: 25px;
                width: 80px;
                padding-left: 15px;
            }
        }
        .eventsContainer {  
            display: grid;
            grid-gap: 30px;
            margin-top: 10px;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }
}