.servicesubTitleWrapper {
    background: #E8F1FF;
    padding: 10px 0 10px 20px;
    border-radius: 5px;

    .serviceSubTitle {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        color: #0F0F0F;
    }
}