.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EBF1FF;
    height: 80px;
    padding: 0 40px;

    .topBarLeft {
        display: flex;
        align-items: center;
        gap: 20px;

        img.logo{
            height: 50px;
            width: 50px;
            object-fit: cover;
        }
            
        .collegeName{
            font-size: 28px;
            font-weight: 500;
        }
    }

    .topBarRight {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}