.assignmentsSubmissions {
  .assignmentSubmissionsContentWrapper {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .submittedAssignmentsWrapper,
    .notSubmittedStudentsWrapper {
      .cardsWrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        padding: 20px 0 0;
      }
    }
  }
}
