.examCardWrapper {
  border: 1px solid #00000033;
  border-radius: 13px;
  display: flex;
  flex-direction: column;

  .examDetailsWrapper {
    padding: 10px;

    .examTitle {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
    }
    .examDate {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
    }
  }
  &:hover {
    background: #ebf1ff;
    cursor: pointer;
  }
}
