.profileSection {
	.profileDetailsWrapper {
		padding: 10px 0 10px 20px;
		width: 100%;
		.profileDetail {
			display: grid;
			grid-template-columns: 1fr 4fr;
			gap: 10px;
			padding: 5px 0;
			.profileDetailTitle {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			.profileDetailDescription {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}
	}
}
