button.btn {
    background: #E8F1FF;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
}
button.textOnly {
    background: none;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    padding: 0;
}
button.notificationBell {
    height: 40px;
    width: 40px;
    background: #FFFFFF;
    border-radius: 50%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}